@require "./node_modules/normalize.css/normalize.css"

$background = #272730
$elevated = #41414C
$subtle = #898992
$primary = #5666F3
$highlight = #00F5FF

body
  margin 0
  padding 0
  background $background
  color white
  font-size 16px

.area
  height 12px
  position relative
  background-color $elevated
  .putty
    bottom -15px

.putty
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index 1

.box
  position absolute
  border 1px solid $highlight
  // border-right 2px solid $highlight
  top 0px
  height 10px
  pointer-events none
  &.selected
    background-color transparent

.start,
.end,
.hover
  position absolute
  top: 12px
  font-size 10px
  font-family monospace
  padding 2px
  width 50px
  color $highlight

.start
  text-align right
  margin-left -53px

.hover
  text-align center
  margin-left -27px

path.selection,
rect.selection
  fill transparent
  stroke $highlight
  stroke-width 1

path.segment
  fill transparent
  stroke $highlight
  stroke-width 1
  &.red
    fill transparent
    stroke white
  &.blue
    fill blue
    stroke blue
  &.green
    fill green
    stroke green
  &.purple
    fill purple
    stroke purple
path.line
  fill transparent
  stroke-width 1
  &.red
    stroke red
  &.blue
    stroke blue
  &.green
    stroke green
  &.purple
    stroke purple

text.label
  font-size 10px
  font-family monospace
  fill $highlight

path.histogram,
rect.histogram
  fill $primary
