@require "./node_modules/normalize.css/normalize.css"


body
  margin 0
  padding 0
  background black
  color white
  font-size 16px

.area
  position relative

.putty
  height 20px

.box
  position absolute
  border-left 1px solid black
  background-color #444
  top 0px
  height 20px
  pointer-events none
  &.selected
    background-color #999

.start,
.end,
.hover
  position absolute
  top: 20px
  font-size 10px
  font-family monospace
  padding 2px
  width 50px

.start
  text-align right
  margin-left -53px

.hover
  text-align center
  margin-left -27px
